* {
    font-family: Solway;
}

section {
    display: flex;
}

button {
    background-color: #DC3D24;
    color: #232b2b;
    font-size: 1em;
    padding: .75em 1em;
    border-radius: 5px;
    border: thin solid #e3ae57;
    cursor: pointer;
}

.friend {
    padding: 1em 3em;
    margin: 0 1em;
    border: thick solid #E3AE57;
    border-radius: 5px;
    color: #DC3D24;
    background: #232B2B;
}
