<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Friend List</title>
</head>

<body ng-app="friendListApp">
    <main>
        <section ng-controller="friendListController">
            <div class="friend" ng-repeat="friend in friends">
                <h2>{{ friend.name }}, {{ friend.age }}</h2>
                <p>{{ friend.contact }}</p>
                <div ng-show="friend.showDetails" class="more-details">
                    <p>Address - {{ friend.address }}</p>
                    <p>Birthday - {{ friend.dob }}</p>
                    <p>Favorite color - {{ friend.favoriteColor }}</p>
                </div>
                <button ng-click="showDetails($index)">show details</button>
            </div>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./friend-list.js"></script>
    <script src="./controllers/friend-list-controller.js"></script>
</body>

</html>